<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myproject.mapper.WaterfbMapper">
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="false">

        INSERT INTO formmain_1116 (id, field0001, field0002, field0003,start_date)
        <foreach collection="list" item="item" index="index" separator="union all">
            SELECT
            #{item.id},
            #{item.field0001},
            #{item.field0002},
            #{item.field0003},#{item.startDate} from dual
        </foreach>

    </insert>

</mapper>
